<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Acr.UserDialogs" version="6.3.8" targetFramework="portable-net45+win80+wpa81" />
  <package id="Com.Airbnb.Xamarin.Forms.Lottie" version="1.5.2" targetFramework="portable45-net45+win8" />
  <package id="DLToolkit.Forms.Controls.FlowListView" version="2.0.4" targetFramework="portable-net45+win80+wpa81" />
  <package id="FAB.Forms" version="2.1.2-pre3" targetFramework="portable-net45+win80+wpa81" requireReinstallation="True" />
  <package id="MR.Gestures" version="1.4.1" targetFramework="portable-net45+win80+wpa81" />
  <package id="MvvmCross" version="4.1.0" targetFramework="portable-net45+win80+wpa81" />
  <package id="MvvmCross.Binding" version="4.1.0" targetFramework="portable-net45+win80+wpa81" requireReinstallation="True" />
  <package id="MvvmCross.Core" version="4.1.0" targetFramework="portable-net45+win80+wpa81" requireReinstallation="True" />
  <package id="MvvmCross.Forms.Presenter" version="4.1.0" targetFramework="portable-net45+win80+wpa81" requireReinstallation="True" />
  <package id="MvvmCross.Platform" version="4.1.0" targetFramework="portable-net45+win80+wpa81" requireReinstallation="True" />
  <package id="MvvmCross.Plugin.SQLitePCL" version="4.1.0" targetFramework="portable-net45+win80+wpa81" />
  <package id="reactiveui-core" version="7.2.0" targetFramework="portable45-net45+win8" />
  <package id="reactiveui-events-xamforms" version="7.2.0" targetFramework="portable45-net45+win8" />
  <package id="reactiveui-xamforms" version="7.2.0" targetFramework="portable45-net45+win8" />
  <package id="Rx-Core" version="2.2.5" targetFramework="portable45-net45+win8" />
  <package id="Rx-Interfaces" version="2.2.5" targetFramework="portable45-net45+win8" />
  <package id="Rx-Linq" version="2.2.5" targetFramework="portable45-net45+win8" />
  <package id="Rx-Main" version="2.2.5" targetFramework="portable45-net45+win8" />
  <package id="Rx-PlatformServices" version="2.2.5" targetFramework="portable45-net45+win8" />
  <package id="Splat" version="1.6.2" targetFramework="portable-net45+win80+wpa81" requireReinstallation="True" />
  <package id="SQLite.Net.Async-PCL" version="3.1.1" targetFramework="portable-net45+win80+wpa81" />
  <package id="SQLite.Net.Core-PCL" version="3.1.1" targetFramework="portable-net45+win80+wpa81" />
  <package id="SQLite.Net-PCL" version="3.1.1" targetFramework="portable-net45+win80+wpa81" requireReinstallation="True" />
  <package id="Xam.Plugin.ExternalMaps" version="3.0.10" targetFramework="portable-net45+win80+wpa81" />
  <package id="Xam.Plugin.Geolocator" version="3.0.4" targetFramework="portable-net45+win80+wpa81" />
  <package id="Xam.Plugin.Media" version="2.6.3.1-beta" targetFramework="portable-net45+win80+wpa81" />
  <package id="Xam.Plugins.Forms.ImageCircle" version="1.8.1" targetFramework="portable-net45+win80+wpa81" />
  <package id="Xamarin.FFImageLoading" version="2.2.9" targetFramework="portable-net45+win80+wpa81" requireReinstallation="True" />
  <package id="Xamarin.FFImageLoading.Forms" version="2.2.9" targetFramework="portable-net45+win80+wpa81" requireReinstallation="True" />
  <package id="Xamarin.FFImageLoading.Transformations" version="2.2.9" targetFramework="portable45-net45+win8" />
  <package id="Xamarin.Forms" version="2.3.4.247" targetFramework="portable45-net45+win8" />
  <package id="Xamarin.Forms.CarouselView" version="2.3.0-pre2" targetFramework="portable-net45+win80+wpa81" />
  <package id="Xamarin.Forms.Maps" version="2.3.3.193" targetFramework="portable45-net45+win8" />
</packages>